@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Merriweather:ital,wght@1,900&family=Oswald&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

#wholePage{
    /* height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;    */
}

#contactInfo{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
   
}
#contactUs{
    margin-top: 70px;
}

#name{
    margin-top: 10px;
    margin-right: 20px;;
}

#inputName{
    height: 25px;
}
#email{
    margin-top: 10px;
    margin-right: 20px;;
}
#inputEmail{
    height: 25px; 
}
#phone{
    margin-left:-60px;
    margin-top: 10px;
    margin-right: 10px;; 
}
#inputPhone{
    height: 25px;
}
#message{
    margin-top: 10px;
    margin-right: 25px;
}
#inputMessage{
    margin-top: 10px;
    margin-right: 25px;
    
}
#button{
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 80px;
}