
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');;

nav{
    margin-bottom:150px;
}

.navbar-brand{
    color:#1f3535;
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;  
    margin-left: 20px;  

}
.navbar-nav{
    color: #081010;
    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1230px;
}
